<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
    <add key="DSE.RPE" value="https://microsoft.pkgs.visualstudio.com/_packaging/DSE.RPE/nuget/v3/index.json" />
	  <add key="NuGet official packages through UST feed" value="https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store/nuget/v3/index.json" />
    <add key="dependencyVersion" value="Highest" />
  </packageSources>
</configuration>