<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PartnerServiceSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="UserAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="AppAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ScenarioSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- Groups settings related to remote endpoints needed to access the partner API service -->
  <PartnerServiceSettings>
    <add key="PartnerServiceApiEndpoint" value="https://api.partnercenter.microsoft.com" />
    <add key="AuthenticationAuthorityEndpoint" value="https://login.windows.net" />
    <add key="GraphEndpoint" value="https://graph.windows.net" />
    <add key="CommonDomain" value="common" />
  </PartnerServiceSettings>

  <UserAuthentication>
    <!-- The active directory application ID used by the user login, paste your application ID here. -->
    <add key="ApplicationId" value="" />
    <!-- The resource the application is attempting to access i.e. the partner API service. -->
    <!-- This value must NOT end with a trailing '/'. -->
    <add key="ResourceUrl" value="https://api.partnercenter.microsoft.com" />
    <add key="RedirectUrl" value="http://localhost" />
  </UserAuthentication>

  <AppAuthentication>
    <!-- The active directory application ID used by the application login, paste your application ID here. -->
    <add key="ApplicationId" value="" />
    <!-- The active directory application secret used by the application login, paste your application secret here. -->
    <add key="ApplicationSecret" value="" />
    <!-- The active directory domain on which the application is hosted. Paste your domain here. -->
    <add key="Domain" value="" />
  </AppAuthentication>

  <!-- Holds samples settings -->
  <ScenarioSettings>
    <!-- The domain suffix to use when creating a new customer -->
    <add key="CustomerDomainSuffix" value="onmicrosoft.com" />
    <!-- The ID of the customer to delete from the TIP account, leave empty to prompt user to enter it -->
    <add key="CustomerIdToDelete" value="" />
    <!-- The ID of the customer user to delete, leave empty to prompt user to enter it -->
    <add key="CustomerUserIdToDelete" value="" />
    <!-- The ID of the default directory role, leave empty to prompt user to enter it -->
    <add key="DefaultDirectoryRoleId" value="" />
    <!-- The ID of the default user member of default directory role, leave empty to prompt user to enter it -->
    <add key="DefaultUserMemberId" value="" />
    <!-- The ID of the default customer to use for customer related samples, leave empty to prompt user to enter it -->
    <add key="DefaultCustomerId" value="" />
    <!-- The ID of the defautl partner's user ID to use for agreement related samples, leave empty to prompt the user to enter it-->
    <add key="DefaultPartnerUserId" value="" />
    <!-- The ID of the default configuration policy to use for device related samples, leave empty to prompt user to enter it -->
    <add key="DefaultConfigurationPolicyId" value="" />
    <!-- The ID of the default agreement template ID to user for agreements related samples, leave empty to prompt user to enter it -->
    <add key="DefaultAgreementTemplateId" value="" />
    <!-- The ID of the default device batch to use for device related samples, leave empty to prompt user to enter it -->
    <add key="DefaultDeviceBatchId" value="" />
    <!-- The ID of the default device to use for device related samples, leave empty to prompt user to enter it -->
    <add key="DefaultDeviceId" value="" />
    <!-- The ID of the default batch upload status tracking to use for device related samples, leave empty to prompt user to enter it -->
    <add key="DefaultBatchUploadStatusTrackingId" value="" />
    <!-- The ID of the default customer user to use for customer user related samples, leave empty to prompt user to enter it -->
    <add key="DefaultCustomerUserId" value="" />
    <!-- The number of customers to retrieve per page -->
    <add key="CustomerPageSize" value="100" />
    <!-- The number of customer users to retrieve per page -->
    <add key="CustomerUserPageSize" value="10" />
    <!-- The number of invoices to retrieve per page -->
    <add key="InvoicePageSize" value="100" />
    <!-- The default Invoice ID of partner, leave empty to prompt user to enter it -->
    <add key="DefaultInvoiceId" value="" />
    <!-- The default Receipt ID of partner's invoice, leave empty to prompt user to enter it -->
    <add key="DefaultReceiptId" value="" />
    <!-- The partner MPN ID to use in indirect partner samples, leave empty to prompt user to enter it -->
    <add key="PartnerMpnId" value="" />
    <!-- The service request ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultServiceRequestId" value="" />
    <!-- The number of service requests to retrieve per page -->
    <add key="ServiceRequestPageSize" value="100" />
    <!-- The support topic ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultSupportTopicId" value="" />
    <!-- The number of offers to return per page -->
    <add key="DefaultOfferPageSize" value="20" />
    <!-- The offer ID to use in offer scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOfferId" value="" />
    <!-- The product ID to use in product scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultProductId" value="" />
    <!-- The sku ID to use in sku scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultSkuId" value="" />
    <!-- The availability ID to use in availability scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultAvailabilityId" value="" />
    <!-- The order ID to use in order scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOrderId" value="" />
    <!-- The subscription ID to use in subscription scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultSubscriptionId" value="" />
    <!-- The number of subscriptions to retrieve per page -->
    <add key="SubscriptionPageSize" value="20" />
    <!-- The ID of the default indirect reseller to use for indirect model related samples, leave empty to prompt user to enter it -->
    <add key="DefaultIndirectResellerId" value="" />
    <!-- The default quantity change to be made during update, leave empty to prompt user to enter it -->
    <add key="DefaultQuantity" value="" />
    <!-- The Default Availability Catalog Id, leave empty to prompt user to enter it -->
    <add key="DefaultAvailabilityCatalogId" value="" />
    <!-- The Default Cart Id, leave empty to prompt user to enter it -->
    <add key="DefaultCartId" value="" />
    <!-- The Default CatalogItemId, leave empty to prompt user to enter it -->
    <add key="DefaultCatalogItemId" value="" />
    <!-- The Default Scope for provision status, leave empty to prompt user to enter it -->
    <add key="DefaultScope" value="" />
    <!-- The Default Azure Subscription Id  for provision status, leave empty to prompt user to enter it -->
    <add key="DefaultAzureSubscriptionId" value="" />
    <!-- The Default Billing Cycle for creating a cart, leave empty to prompt user to enter it -->
    <add key="DefaultBillingCycle" value="" />
    <!-- The Default Customers Agreement csv file, leave empty to prompt user to enter it -->
    <add key="DefaultCustomerAgreementCsvFileName" value="" />
    <!-- The Default Renewal Term Duration, leave empty to prompt user to enter it -->
    <add key="DefaultRenewalTermDuration" value="" />
  </ScenarioSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
