@inherits System.Web.Mvc.WebViewPage

<div>
    <h1>Partner Consent</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consent successful</h2>
        <p>
            Partner consent to application has been granted.
            For more information on how to manage the application in your Active directory tenant, please check <a href="https://go.microsoft.com/fwlink/?LinkId=301865">here</a>
            You can manage applications at <a href="https://myapps.microsoft.com">https://myapps.microsoft.com</a>
        </p>
        <p>
            <a href="javascript:window.open('','_self').close();">close</a>
        </p>
    </div>
</div>